/*!CK:3149580335!*//*1428640678,*/

.sp_KvjmyMaVQka{background-image:url(/rsrc.php/v2/yN/r/f6oukc7MKRb.png);background-size:17px 98px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_KvjmyMaVQka.sx_89de8b{background-position:0 0}.sp_KvjmyMaVQka.sx_a1c35c{background-position:0 -17px}.sp_KvjmyMaVQka.sx_6f1d44{background-position:0 -34px}.sp_KvjmyMaVQka.sx_8486c7{background-position:0 -51px}.sp_KvjmyMaVQka.sx_6eb743{background-position:0 -68px}.sp_KvjmyMaVQka.sx_2b8c27{width:12px;height:12px;background-position:0 -85px}

#bootloader_KwyXv { height: 42px; }
.bootloader_KwyXv { display:block !important; }