@import url(//fonts.googleapis.com/css?family=RobotoDraft);
.inapp {
  font-family: 'RobotoDraft';
}

.inapp .titleBar {
  background: none;
  border-bottom: none;
}

.inapp .gwt-TextBox {
  border-bottom: 1px solid #E0E0E0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.inapp .gwt-TextBox:focus {
  border-bottom: 2px solid #4285F4;
}

.errored > .gwt-TextBox {
  border-bottom: 2px solid #DD4B39;
}

.inapp .countryList, .inapp .addressCombo {
  background: none;
  border-bottom: 1px solid #E0E0E0;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 13px;
  font-weight: normal;
}

.inapp .button, .inapp .button:hover {
  background-color: white;
  background-image: none;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  font-size: 13px;
  height: 36px;
  text-transform: uppercase;
}

.inapp .button:active {
  background-color: #E0E0E0;
}

.inapp .button.primary {
  background-color: #4285F4;
  box-shadow: #AAAAAA 0 1px 3px;
  -webkit-box-shadow: #AAAAAA 0 1px 3px;
}

.inapp .button.primary:active {
  background-color: #7BAAF7;
  box-shadow: #CCCCCC 0 7px 10px;
  -webkit-box-shadow: #CCCCCC 0 7px 10px;
}

.inapp .subHeader {
  font-size: 14px;
  text-transform: none;
}

.inapp .multiple > .paymentMethod {
  background-image: none;
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
