.message {
color:#000;
font-size:12px;
border:1px #0071B5 solid;
background:#ffd;
width:auto;
margin:10px 0;
padding:10px;
}

.message span {
float:left;
width:25px;
height:25px;
display:block;
}

.message span {
background:url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/errors-alerts/error-sprite.gif) no-repeat 0 0;
}

.message h6 {
font-size:13px;
margin:0 0 .25em 35px;
padding:0;
}

.message p {
margin:0 0 .25em 35px;
padding:0;
}

.message ul {
padding-left:0;
margin-left:10px;
}

.message li {
margin-left:35px;
list-style-type:disc;
}

.success {
color:#063;
border:1px solid #447F00;
}

.success h6 {
color:#063;
}

.success span {
background-position:0 -25px;
}

.success span.mini {
background-position:0 -17px!important;
}

.warning {
border:1px solid #E47911;
}

.warning span {
background-position:0 -50px;
}

.warning span.mini {
background-position:0 -34px!important;
}

.error {
color:#A31919;
border:1px solid #A31919;
}

.error span {
background-position:0 -75px;
}

.error span.mini {
background-position:0 -51px!important;
}

.mini {
font-size:10px;
border:1px #DDDAC0 solid;
padding:7px;
}

.mini h6 {
font-size:11px;
margin-left:25px;
}

.mini p {
margin-left:25px;
}

.mini span.mini {
width:3px;
height:3px;
border:0;
}

.mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

.ap-locale-en_US .mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

.ap-locale-en_CA .mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/01/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

.ap-locale-de_DE .mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/03/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

.ap-locale-es_ES .mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/30/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

.ap-locale-fr_FR .mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/08/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

.ap-locale-fr_CA .mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/08/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

.ap-locale-en_GB .mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/02/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

.ap-locale-en_IN .mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/31/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

.ap-locale-it_IT .mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/29/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

.ap-locale-ja_JP .mini span.mini {
background:url(https://images-na.ssl-images-amazon.com/images/G/09/x-locale/common/errors-alerts/error-sprite-mini.gif) no-repeat 0 0;
}

html {
color:#000;
background:#FFF;
}

table {
border-spacing:0;
font-size:inherit;
font:100%;
border-collapse:collapse;
text-align:left;
}

fieldset,img {
border:0;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
font-style:inherit;
font-weight:inherit;
}

del,ins {
text-decoration:none;
}

li {
list-style:none;
}

h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:400;
color:#E47911;
}

q:before,q:after {
content:'';
}

abbr,acronym {
border:0;
font-variant:normal;
}

input,button,textarea,select,optgroup,option {
font-family:inherit;
font-size:inherit;
font-style:inherit;
font-weight:inherit;
}

input,button,textarea,select {
font-size:100%;
}

body {
font-size:small;
*font:x-small;
font-family:Verdana;
text-align:left;
margin-left:8px;
margin-right:8px;
}

select,input,button,textarea,button {
font:99% Verdana,arial,helvetica,clean,sans-serif;
}

pre,code,kbd,samp,tt {
font-family:monospace;
*font-size:108%;
line-height:100%;
}

.ap_caps_warn {
display:none;
color:#900;
text-align:left;
min-width:210px;
font-size:75%;
visibility:hidden;
position:relative;
width:auto;
}

.ap_caps_warn_shared {
margin-top:13px;
margin-left:5px;
}

.ap_standard_caps_warn {
margin-left:5px;
margin-top:-3px;
}

.ap_col3_caps_warn {
margin-left:0;
margin-top:0;
}

.ap_caps_warn_shared_table {
margin-top:-13px;
margin-left:-60px;
}

.ap_standard_caps_warn_table {
margin-left:-60px;
margin-top:-13px;
}

#title-slot #ap_title_pagelet {
max-width:600px;
margin-left:0;
margin-right:0;
}

hr.ap_dashed {
border:none;
border-top:1px dashed #C8C8C8;
margin-top:5px;
}

.ap_row {
clear:both;
width:100%;
padding-top:5px;
padding-bottom:5px;
vertical-align:middle;
margin:0;
}

.ap_table > .ap_row > span {
vertical-align:middle;
float:none;
padding:0;
}

.ap_col1 {
margin-left:25px;
width:auto;
padding-left:30px;
}

.ap_no_collapse {
min-height:28px;
}

img {
display:inline;
border:0 none;
}

.error h6 {
color:inherit;
}

h1 {
font-size:120%;
font-weight:700;
}

.ap_submit_link {
background-color:transparent;
text-decoration:underline;
border:none;
cursor:pointer;
width:0;
overflow:visible;
}

.ap_submit_link[class]
{
width: auto;
}

.faded {
color:#aaa;
}

.invisible {
visibility:hidden;
}

.red {
color:#900;
}

.gray {
color:#666;
}

.light {
font-weight:300;
}

.tiny {
font-size:.75em;
font-weight:400;
}

.small {
font-size:.85em;
font-weight:400;
}

.enabled {
cursor:default;
}

.disabled {
cursor:not-allowed;
}

.headroom {
padding-top:10px;
}

.padded_right {
padding-right:6px;
}

.rightborder {
border-right:1px solid #CCC;
}

.leftborder {
border-left:1px solid #CCC;
}

input.disabled {
background:#eee;
}

input.enabled {
background:inherit;
}

.fixed_width_form {
width:auto;
margin-left:auto;
margin-right:auto;
}

.ap-locale-en_US .loading {
background:url(https://images-na.ssl-images-amazon.com/images/G/01/ui/loadIndicators/loadIndicator-label.gif) no-repeat center;
}

.ap-locale-en_CA .loading {
background:url(https://images-na.ssl-images-amazon.com/images/G/01/ui/loadIndicators/loadIndicator-label.gif) no-repeat center;
}

.ap-locale-de_DE .loading {
background:url(https://images-na.ssl-images-amazon.com/images/G/03/ui/loadIndicators/loadIndicator-label.gif) no-repeat center;
}

.ap-locale-es_ES .loading {
background:url(https://images-na.ssl-images-amazon.com/images/G/30/ui/loadIndicators/loadIndicator-label.gif) no-repeat center;
}

.ap-locale-fr_FR .loading {
background:url(https://images-na.ssl-images-amazon.com/images/G/08/ui/loadIndicators/loadIndicator-label.gif) no-repeat center;
}

.ap-locale-fr_CA .loading {
background:url(https://images-na.ssl-images-amazon.com/images/G/08/ui/loadIndicators/loadIndicator-label.gif) no-repeat center;
}

.ap-locale-en_GB .loading {
background:url(https://images-na.ssl-images-amazon.com/images/G/02/ui/loadIndicators/loadIndicator-label.gif) no-repeat center;
}

.ap-locale-en_IN .loading {
background:url(https://images-na.ssl-images-amazon.com/images/G/31/ui/loadIndicators/loadIndicator-label.gif) no-repeat center;
}

.ap-locale-it_IT .loading {
background:url(https://images-na.ssl-images-amazon.com/images/G/29/ui/loadIndicators/loadIndicator-label.gif) no-repeat center;
}

.ap-locale-ja_JP .loading {
background:url(https://images-na.ssl-images-amazon.com/images/G/09/ui/loadIndicators/loadIndicator-label.gif) no-repeat center;
}

.form_alert {
height:.9em;
color:#900;
padding:3px;
}

.width_200 {
width:200px;
display:inline-block;
}

ul li {
background-image:none;
background-position:0 .5em;
background-repeat:no-repeat;
list-style-type:none;
margin-bottom:.5em;
padding-left:0;
}

.ap_ulist li {
list-style-type:none;
}

#top-1 {
text-align:center;
margin:10px 0;
}

.ap_header {
width:600px;
margin-left:auto;
margin-right:auto;
text-align:left;
padding-bottom:3px;
margin-top:10px;
}

.ap_pagelet {
margin-bottom:10px;
max-width:800px;
width:auto;
margin-left:auto;
margin-right:auto;
}

.ap_pagelet input {
vertical-align:text-bottom;
}

.ap_pagelet_title {
text-align:left;
margin-bottom:4px;
}

.ap_section_title {
height:auto;
margin-bottom:2px;
}

.ap_flyout {
background-color:#FFC;
border:1px solid #921;
font-size:93%;
text-align:left;
display:inline;
position:absolute;
width:190px;
z-index:999;
color:#921;
margin-top:-100px;
margin-left:200px;
padding:0 3px 3px 8px;
}

.ap_flyout img {
position:absolute;
left:-5px;
top:50%;
}

.ap_form_wrapper {
margin-left:auto;
margin-right:auto;
margin-top:5px;
min-width:510px;
}

.ap_form_wrapper table {
display:block;
width:auto;
margin:auto;
}

.ap_form_div {
margin-top:20px;
margin-bottom:20px;
}

.ap_form_row {
margin:7px;
}

.ap_forminput {
text-align:left;
display:inline-block;
}

.ap_align_top {
vertical-align:top;
}

.ap_align_bottom {
vertical-align:bottom;
}

.ap_popup_bg {
background:#efefef;
position:absolute;
width:250px;
top:5%;
right:35%;
padding:0 4px 4px 0;
}

.ap_popup {
position:relative;
top:-3px;
left:-3px;
text-align:left;
border:1px solid #E47911;
background:#ffffd5;
padding:0 5px 15px 10px;
}

.ap_close_popup {
position:absolute;
bottom:5px;
right:5px;
}

.ap_highlight_input {
background:#ffffd5;
}

.ap_form_table td[colspan=2] {
padding-top:4px;
}

.ap_input_label {
display:inline-block;
margin-right:4px;
font-weight:700;
text-align:right;
min-width:0;
}

.ap_radio_label {
display:inline-block;
}

.ap_radio_plus_label input {
vertical-align:top;
display:inline;
}

.ap_privacy_footer {
margin-left:auto;
margin-right:auto;
border:none;
}

.ap-locale-fr_FR #ap_footer_copyright, .ap-locale-es_ES #ap_footer_copyright {
    display:block;
    text-align: center;
}

.ap_fpp_challenge_input_label {
margin:3px 3px 3px 0;
}

#ap_signin_form_table td.ap_login_suggest {
padding-top:0;
padding-bottom:4px;
}

#ap_captcha_img {
border:1px solid #aaa;
width:200px;
height:70px;
}

.signinSecure {
padding-top:8px;
padding-bottom:8px;
}

.ap_cnep_form_row {
width:500px;
text-align:left;
clear:both;
padding:5px 0;
}

.ap_cnep_label {
float:left;
width:120px;
text-align:right;
vertical-align:bottom;
font-weight:700;
}

.ap_cnep_val {
display:inline-block;
float:right;
text-align:left;
vertical-align:bottom;
width:260px;
}

.ap_cnep_edit {
display:inline-block;
vertical-align:bottom;
float:right;
width:100px;
}

#ap_cnep_birthdate_input {
padding:12px 0 6px;
}

#ap_cnep_finished_button {
margin-top:30px;
padding-top:6px;
}

#ap_cnep_subtitle {
margin-bottom:5px;
}

.ap_error_page_header {
text-align:center;
margin:20px;
}

.ap_error_page_message {
font-size:medium;
margin-top:2px;
}

.ap_error_return_home {
font-size:medium;
font-weight:700;
margin-top:15px;
}

.ap_error_page_wrapper {
width:600px;
margin-left:auto;
margin-right:auto;
text-align:center;
font-family:verdana,arial,helvetica,sans-serif;
font-size:medium;
}

.ap_error_page_cookieless_wrapper {
margin-left:10px;
width:600px;
font-family:verdana,arial,helvetica,sans-serif;
font-size:medium;
}

.ap_error_page_cookieless_wrapper p {
margin:10px auto 10px 10px;
}

.ap_error_page_cookieless_title h1 {
font-size:medium;
margin:10px auto 10px 10px;
}

#ap_fpp_cctype_input {
display:inline-block;
margin-bottom:6px;
vertical-align:bottom;
}
a.ap_warning_link {
color:#d33;
}

#ap_mini_warning_icon {
margin-right:2px;
}

#ap_popover_bottom_right_link {
float:right;
display:block;
}

.ap_popover {
position:absolute;
outline:none;
}

.ap_popover .ap_body {
height:100%;
position:relative;
}

.ap_popover .ap_body .ap_content {
padding-bottom:5px;
background-color:#fff;
margin:0 34px;
padding-bottom:0;
}

.ap_popover .ap_body .ap_left {
width:34px;
height:100%;
position:absolute;
top:0;
left:0;
background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_left.png) repeat-y scroll 0 0;
}

.ap_popover .ap_body .ap_right {
width:34px;
height:100%;
position:absolute;
top:0;
right:0;
background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_right.png) repeat-y scroll 0 0;
}

.ap_popover .ap_header,.ap_popover .ap_footer {
position:relative;
width:100%;
}

.ap_popover .ap_header {
margin:0;
padding:0;
}

.ap_popover .ap_header *,.ap_popover .ap_footer * {
height:34px;
}

.ap_popover .ap_header .ap_left {
position:absolute;
top:0;
left:0;
width:34px;
background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_top_left.png) no-repeat scroll 0 0;
}

.ap_popover .ap_header .ap_right {
width:34px;
position:absolute;
top:0;
right:0;
background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_top_right.png) no-repeat scroll 0 0;
}

.ap_popover .ap_header .ap_middle {
background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_top.png) repeat-x scroll 0 0;
margin:0 34px;
}

.ap_popover .ap_footer .ap_left {
position:absolute;
top:0;
left:0;
width:34px;
background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_bottom_left.png) no-repeat scroll 0 0;
}

.ap_popover .ap_footer .ap_right {
width:34px;
position:absolute;
top:0;
right:0;
background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_bottom_right.png) no-repeat scroll 0 0;
}

.ap_popover .ap_footer .ap_middle {
background:transparent url(https://images-na.ssl-images-amazon.com/images/G/01/javascripts/lib/popover/images/po_bottom.png) repeat-x scroll 0 0;
margin:0 34px;
}

.ap_popover .ap_titlebar {
display:none;
position:absolute;
left:0;
top:0;
background-color:#EAF3FE;
border-bottom:1px solid #C2DDF2;
font-size:14px;
font-weight:700;
margin:10px 18px;
}

.ap_popover .ap_titlebar .ap_title {
padding:4px 10px;
}

#ap_overlay {
background-color:#3F4C58;
width:100%;
position:absolute;
top:0;
left:0;
z-index:99;
display:none;
}

.ap_popover .ap_close {
position:absolute;
right:18px;
top:15px;
}

.ap_popover .ap_close a {
text-decoration:none;
outline:none;
padding:5px;
}

.ap_popover .ap_close .ap_closetext {
display:none;
position:relative;
top:-2px;
left:0;
margin-right:5px;
}

.ap_popover .ap_titlebar .ap_title h2 {
font-weight:700;
cursor:default;
margin:2px 0;
}

#ap_popover_content {
padding-top:10px;
padding-bottom:16px;
}

#ap_register_phone_number_input > input {
vertical-align:middle;
}

#ap_caps_warn_span {
display:inline-block;
padding-top:0;
}

#ap_remember_me_checkbox_row {
    display:inline-block;
    margin-top:4px;
    margin-bottom:6px;
    margin-left:-10px;
} 

#ap_remember_me_checkbox input {
    vertical-align:bottom;
}

#ap_small_forgot_password_link_ie_new {
margin-left:235px;
margin-top:2px;
}

.ap-locale-ja_JP #ap_small_forgot_password_link_ie_new {
margin-left:237px;
}

.ap-locale-it_IT #ap_small_forgot_password_link_ie_new {
margin-left:221px;
}

.ap-locale-fr_FR #ap_small_forgot_password_link_ie_new {
margin-left:275px;
}

#ap_small_forgot_password_link {
margin-left:230px;
margin-top:2px;
}

.ap-locale-ja_JP #ap_small_forgot_password_link {
margin-left:232px;
}

.ap-locale-it_IT #ap_small_forgot_password_link {
margin-left:216px;
}

.ap-locale-fr_FR #ap_small_forgot_password_link {
margin-left:270px;
}

#ap_email_verify_options_table td {
padding-top:3px;
padding-right:20px;
}

#ap_email_verify_options_table tr {
border-top:1px solid #eee;
}

#ap_email_verify_options_table tr:hover {
background-color:#eee;
}

#ap_register1a_notification_row {
    margin-top: 15px;
}

#centerSlots {
-moz-border-radius:5px;
border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #c9e1f4;
position:relative;
width:510px;
padding:10px 15px;
}

.ap-locale-es_ES #centerSlots {
    width: 545px;
}

.ap-locale-ja_JP #centerSlots {
    width: 520px;
}

#centerSlots.rmrMe {
width:530px;
}

.ap_content_frame {
-moz-border-radius:5px;
border-radius:5px;
-webkit-border-radius:5px;
border:1px solid #c9e1f4;
position:relative;
float:left;
padding:10px 15px;
}

#ap_signin1a_password_row .ap_col1 {
margin:0;
padding:0;
}

#ap_signin1a_pagelet #signInSubmit {
margin-left:-15px;
margin-top:5px;
}

#ap_signin1a_password_section_title {
padding-top:15px;
}

body > .ie {
margin-left:2px;
margin-right:2px;
}

.ie6 #ap_password {
margin-left:50px;
}

#ap_small_forgot_password_link_ie_old {
margin-left:60px;
margin-bottom:2px;
}

.ie6 #centerSlots {
padding-bottom:0;
}

#bottom-4 {
clear:both;
border:none;
height:0;
}

#bottom-5 {
clear:both;
border-top:1px solid #C9E1F4;
border:none;
padding-top:10px;
}

.ie6 .ap_row {
padding:2px 0;
}

.ap_ul li {
background-image:url(https://images-na.ssl-images-amazon.com/images/G/01/webservices/orange_bullet.png);
background-position:0 .5em;
background-repeat:no-repeat;
list-style-type:none;
margin-bottom:.5em;
padding-left:10px;
}

#ap_register_phone_message {
width:370px;
}

#navLogo {
display:block;
position:relative;
cursor:default;
width:180px;
height:48px;
}

#navLogo:hover,#navLogo:focus,#navLogo:active {
cursor:pointer;
}

#altLogo {
display:block;
position:absolute;
top:8px;
left:9px;
}

#navLogoPrimary span {
position:absolute;
top:-9999px;
}

#navLogoSecondary {
visibility:hidden;
position:absolute;
top:29px;
left:79px;
width:48px;
height:12px;
background-position:0 -700px;
}

#navLogoSecondary.prime {
visibility:visible;
top:27px;
left:75px;
width:58px;
height:17px;
background-position:-110px -700px;
}

#navLogo.nonGateway:hover #navLogoSecondary,#navLogo.nonGateway:focus #navLogoSecondary,#navLogo.nonGateway:active #navLogoSecondary {
visibility:visible;
}

.ap_locale-en_US .navSprite, .ap-locale-en_US .navSaJs li.navSaMenuItem {background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/images/orangeBlue/navPackedSprites-US-22._V183711640_.png);}
.ap_locale-en_US #navLogoPrimary{display:block;position:absolute;top:8px;left:9px;width:151px;height:34px;background-position:-9px -8px}
.ap_locale-en_US #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap_locale-en_US #navLogo.nonGateway:hover #navLogoPrimary,.ap-locale-en_US #navLogo.nonGateway:focus #navLogoPrimary,.ap-locale-en_US #navLogo.nonGateway:active #navLogoPrimary{top:0;left:0;width:180px;height:48px;background-position:0 0}
.ap_locale-en_US #navLogo.nonGateway:hover #navLogoPrimary.navLogoPrimaryAt,.ap-locale-en_US #navLogo.nonGateway:focus #navLogoPrimary.navLogoPrimaryAt,.ap-locale-en_US #navLogo.nonGateway:active #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap_locale-en_US #navLogoSecondary{visibility:hidden;position:absolute;top:29px;left:79px;width:48px;height:12px;background-position:0 -700px}

.ap-locale-fr_FR .navSprite, .ap-locale-fr_FR .navSaJs li.navSaMenuItem {background-image: url(https://images-na.ssl-images-amazon.com/images/G/08/gno/images/orangeBlue/navPackedSprites-FR-15._V202471902_.png);}
.ap-locale-fr_FR #navLogoPrimary {display:block;position:absolute;top:3px;left:17px;width:118px;height:35px;background-position:-17px -3px}
.ap-locale-fr_FR #navLogoPrimary .navLogoPrimary At{background-position:0 0}
.ap-locale-fr_FR #navLogo.nonGateway:hover  #navLogoPrimary ,.ap-locale-fr_FR #navLogo.nonGateway:focus  #navLogoPrimary ,.ap-locale-fr_FR #navLogo.nonGateway:active #navLogoPrimary {top:0;left:0;width:175px;height:48px;background-position:0 0}
.ap-locale-fr_FR #navLogo.nonGateway:hover #navLogoPrimary .navLogoPrimary At,.ap-locale-fr_FR #navLogo.nonGateway:focus #navLogoPrimary .navLogoPrimary At,.ap-locale-fr_FR #navLogo.nonGateway:active #navLogoPrimary .navLogoPrimary At{background-position:0 0}
.ap-locale-fr_FR #navLogoSecondary {visibility:hidden;position:absolute;top:28px;left:86px;width:67px;height:12px;background-position:0 -500px}

.ap-locale-fr_CA .navSprite, .ap-locale-fr_CA .navSaJs li.navSaMenuItem {background-image: url(https://images-na.ssl-images-amazon.com/images/G/15/gno/images/orangeBlue/navPackedSprites-CA-15._V202471501_.png);}
.ap-locale-fr_CA #navLogoPrimary{display:block;position:absolute;top:9px;left:16px;width:129px;height:31px;background-position:-16px -9px}
.ap-locale-fr_CA #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-fr_CA #navLogo.nonGateway:hover #navLogoPrimary,.ap-locale-fr_CA #navLogo.nonGateway:focus #navLogoPrimary,.ap-locale-fr_CA #navLogo.nonGateway:active #navLogoPrimary{top:0;left:0;width:175px;height:48px;background-position:0 0}
.ap-locale-fr_CA #navLogo.nonGateway:hover #navLogoPrimary.navLogoPrimaryAt,.ap-locale-fr_CA #navLogo.nonGateway:focus #navLogoPrimary.navLogoPrimaryAt,.ap-locale-fr_CA #navLogo.nonGateway:active #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}

.ap-locale-en_CA #navLogoSecondary{visibility:hidden;position:absolute;top:29px;left:86px;width:48px;height:12px;background-position:0 -500px}
.ap-locale-en_CA .navSprite, .ap-locale-en_CA .navSaJs li.navSaMenuItem {background-image: url(https://images-na.ssl-images-amazon.com/images/G/15/gno/images/orangeBlue/navPackedSprites-CA-15._V202471501_.png);}
.ap-locale-en_CA #navLogoPrimary{display:block;position:absolute;top:9px;left:16px;width:129px;height:31px;background-position:-16px -9px}
.ap-locale-en_CA #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-en_CA #navLogo.nonGateway:hover #navLogoPrimary,.ap-locale-en_CA #navLogo.nonGateway:focus #navLogoPrimary,.ap-locale-en_CA #navLogo.nonGateway:active #navLogoPrimary{top:0;left:0;width:175px;height:48px;background-position:0 0}
.ap-locale-en_CA #navLogo.nonGateway:hover #navLogoPrimary.navLogoPrimaryAt,.ap-locale-en_CA #navLogo.nonGateway:focus #navLogoPrimary.navLogoPrimaryAt,.ap-locale-en_CA #navLogo.nonGateway:active #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-en_CA #navLogoSecondary{visibility:hidden;position:absolute;top:29px;left:86px;width:48px;height:12px;background-position:0 -500px}

.ap-locale-en_GB .navSprite, .ap-locale-en_GB .navSaJs li.navSaMenuItem {background-image: url(https://images-na.ssl-images-amazon.com/images/G/02/gno/images/orangeBlue/navPackedSprites-UK-15._V202471918_.png);}
.ap-locale-en_GB #navLogoPrimary{display:block;position:absolute;top:4px;left:6px;width:158px;height:35px;background-position:-6px -4px}
.ap-locale-en_GB #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-en_GB #navLogo.nonGateway:hover #navLogoPrimary,.ap-locale-en_GB #navLogo.nonGateway:focus #navLogoPrimary,.ap-locale-en_GB #navLogo.nonGateway:active #navLogoPrimary{top:0;left:0;width:175px;height:48px;background-position:0 0}
.ap-locale-en_GB #navLogo.nonGateway:hover #navLogoPrimary.navLogoPrimaryAt,.ap-locale-en_GB #navLogo.nonGateway:focus #navLogoPrimary.navLogoPrimaryAt,.ap-locale-en_GB #navLogo.nonGateway:active #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-en_GB #navLogoSecondary{visibility:hidden;position:absolute;top:29px;left:74px;width:48px;height:12px;background-position:0 -500px}

.ap-locale-de_DE .navSprite, .ap-locale-de_DE .navSaJs li.navSaMenuItem {background-image: url(https://images-na.ssl-images-amazon.com/images/G/03/gno/images/orangeBlue/navPackedSprites-DE-15._V202471931_.png);}
.ap-locale-de_DE #navLogoPrimary{display:block;position:absolute;top:4px;left:19px;width:131px;height:35px;background-position:-19px -4px}
.ap-locale-de_DE #navLogoPrimary.navLogoPrimaryAt{background-position:-19px -524px}
.ap-locale-de_DE #navLogo.nonGateway:hover #navLogoPrimary,.ap-locale-de_DE #navLogo.nonGateway:focus #navLogoPrimary,.ap-locale-de_DE #navLogo.nonGateway:active #navLogoPrimary{top:0;left:0;width:175px;height:48px;background-position:0 0}
.ap-locale-de_DE #navLogo.nonGateway:hover #navLogoPrimary.navLogoPrimaryAt,.ap-locale-de_DE #navLogo.nonGateway:focus #navLogoPrimary.navLogoPrimaryAt,.ap-locale-de_DE #navLogo.nonGateway:active #navLogoPrimary.navLogoPrimaryAt{background-position:0 -520px}
.ap-locale-de_DE #navLogoSecondary{visibility:hidden;position:absolute;top:28px;left:88px;width:52px;height:13px;background-position:0 -500px}

.ap-locale-it_IT .navSprite, .ap-locale-it_IT .navSaJs li.navSaMenuItem {background-image: url(https://images-na.ssl-images-amazon.com/images/G/29/gno/images/orangeBlue/navPackedSprites-IT-02._V201174301_.png);}
.ap-locale-it_IT #navLogoPrimary{display:block;position:absolute;top:3px;left:17px;width:119px;height:36px;background-position:-17px -3px}
.ap-locale-it_IT #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-it_IT #navLogo.nonGateway:hover #navLogoPrimary,.ap-locale-it_IT #navLogo.nonGateway:focus #navLogoPrimary,.ap-locale-it_IT #navLogo.nonGateway:active #navLogoPrimary{top:0;left:0;width:175px;height:48px;background-position:0 0}
.ap-locale-it_IT #navLogo.nonGateway:hover #navLogoPrimary.navLogoPrimaryAt,.ap-locale-it_IT #navLogo.nonGateway:focus #navLogoPrimary.navLogoPrimaryAt,.ap-locale-it_IT #navLogo.nonGateway:active #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-it_IT #navLogoSecondary{visibility:hidden;position:absolute;top:29px;left:87px;width:48px;height:12px;background-position:0 -500px}

.ap-locale-es_ES .navSprite, .ap-locale-es_ES .navSaJs li.navSaMenuItem {background-image: url(https://images-na.ssl-images-amazon.com/images/G/30/gno/images/orangeBlue/navPackedSprites-ES-03._V156600418_.png);}
.ap-locale-es_ES #navLogoPrimary{display:block;position:absolute;top:3px;left:17px;width:134px;height:36px;background-position:-17px -3px}
.ap-locale-es_ES #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-es_ES #navLogo.nonGateway:hover #navLogoPrimary,.ap-locale-es_ES #navLogo.nonGateway:focus #navLogoPrimary,.ap-locale-es_ES #navLogo.nonGateway:active #navLogoPrimary{top:0;left:0;width:175px;height:48px;background-position:0 0}
.ap-locale-es_ES #navLogo.nonGateway:hover #navLogoPrimary.navLogoPrimaryAt,.ap-locale-es_ES #navLogo.nonGateway:focus #navLogoPrimary.navLogoPrimaryAt,.ap-locale-es_ES #navLogo.nonGateway:active #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-es_ES #navLogoSecondary{visibility:hidden;position:absolute;top:29px;left:87px;width:48px;height:12px;background-position:0 -1016px}

.ap-locale-ja_JP .navSprite, .ap-locale-ja_JP .navSaJs li.navSaMenuItem {background-image: url(https://images-na.ssl-images-amazon.com/images/G/09/gno/images/orangeBlue/navPackedSprites-JP-15._V202471850_.png);}
.ap-locale-ja_JP #navLogoPrimary{display:block;position:absolute;top:4px;left:12px;width:149px;height:34px;background-position:-12px -4px}
.ap-locale-ja_JP #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-ja_JP #navLogo.nonGateway:hover #navLogoPrimary,.ap-locale-ja_JP #navLogo.nonGateway:focus #navLogoPrimary,.ap-locale-ja_JP #navLogo.nonGateway:active #navLogoPrimary{top:0;left:0;width:175px;height:48px;background-position:0 0}
.ap-locale-ja_JP #navLogo.nonGateway:hover #navLogoPrimary.navLogoPrimaryAt,.ap-locale-ja_JP #navLogo.nonGateway:focus #navLogoPrimary.navLogoPrimaryAt,.ap-locale-ja_JP #navLogo.nonGateway:active #navLogoPrimary.navLogoPrimaryAt{background-position:0 0}
.ap-locale-ja_JP #navLogoSecondary{visibility:hidden;position:absolute;top:30px;left:84px;width:50px;height:10px;background-position:0 -500px}

#wrapper {
width:542px;
margin:0 auto;
}

#topSlots {
width:100%;
margin:0;
padding:0;
}

#top-1 td[align=right] {
padding:4px 4px 0 0;
}

#bottomSlots {
width:100%;
padding:0;
}

#flex_subslot_frame {
width:510px;
border:none;
border-bottom:1px solid #C9E1F4;
padding:20px 16px;
}

.ap_form_table .ap_input_label {
white-space:nowrap;
}

.message a,.ap_submit_link,a:link,a:visited,a:hover,a:active {
color:#004B91;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,* {
margin:0;
padding:0;
}

caption,th,.ap_left,div,span,.left,.ap_section_subtitle {
text-align:left;
}

sup,sub {
vertical-align:baseline;
}

legend,.black {
color:#000;
}

.ap_table,.ap_col2,.fixed_width_form table {
width:auto;
}

.ap_right,.right {
text-align:right;
}

.ap_bold,.bold {
font-weight:700;
}

h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:700;
}

.ie,div#wrapper,.center,#cnep-slot,#register-slot,#forgotpassword-slot,#signin-slot,#tokenresync-slot,#bottom-1,#center-0,#center-1,#message-box-slot {
text-align:center;
}

.hidden,#be,#ap_signin1f_pagelet #ap_signin1f_signin_button_row .ap_col1,#ap_signin1a_forgot_password_row,#ap_signin1a_cnep_row,.ie6 #ap_caps_warn_span,#leftSlots,#rightSlots {
display:none;
}

.inline,#ap_signin1a_exist_cust_radio_row,#ap_signin1a_password_row,.ap_radio_button {
display:inline;
}

.middle,#add_phone_submit_button,#add_phone_cancel_button {
vertical-align:middle;
}

.clear-both,#center-3 {
clear:both;
}

.ap_form_table input,.ap_form_table select,.ap_form_table span.in-amzn-btn {
margin:5px 2px;
}

#ap_fpp_continue_shopping,#ap_fpp_footer,.ap_error_page_title,#ap_captcha_title {
margin-top:10px;
}

.ap_error_page_title h1,.ap_error_page_cookieless_message {
font-size:medium;
}

#ap_signin1a_exist_cust_radio_row span,#ap_signin1a_password_row span {
padding-top:8px;
}

#flex_subslot_frame {
border-radius: none;
-moz-border-radius: none;
-webkit-border-radius: none;
}

#ap_sent_email_content {
width: 100%;
}

#ap_forgot_form_table_wrapper {
margin-bottom:0px;
}

#customer_service {
margin-top:30px;
}


@charset "UTF-8";/* CSS Buttons code, borrowed from WCS */
a.amzn-btn,a.amzn-btn-disabled,a.amzn-btn span,a.amzn-btn-disabled span{background:url('https://images-na.ssl-images-amazon.com/images/G/01/authportal/common/images/amznbtn-sprite03._V395592492_.png') no-repeat scroll 0 0;font-family:arial,sans-serif!important;text-decoration:none!important;text-align:center!important;-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none;margin:0;padding:0;font-weight:normal!important;border:none!important;white-space:nowrap;vertical-align:top}
a.amzn-btn,a.amzn-btn-disabled{max-width:280px;display:inline-block;zoom:1;*display:inline}
a.amzn-btn span,a.amzn-btn-disabled span{display:inline-block;zoom:1;vertical-align:top;max-width:280px}
a.amzn-btn:hover{cursor:pointer}
a.amzn-btn{cursor:pointer}
a.amzn-btn span{color:#006!important}
a.amzn-btn-disabled{opacity:.8;cursor:default}
a.amzn-btn-disabled span{color:#999!important}
a.btn-prim-sml,a.btn-sec-sml{height:21px}
a.btn-prim-sml span,a.btn-sec-sml span{font-size:11px!important;line-height:21px!important;height:21px}
a.btn-prim-sml{padding:0 0 0 7px;background-position:left -348px}
a.amzn-btn.btn-prim-sml:hover{background-position:left -371px}
a.btn-prim-sml span{padding:0 10px 0 3px;background-position:right -0px}
a.amzn-btn.btn-prim-sml:hover span{background-position:right -23px}
a.btn-sec-sml{padding:0 0 0 7px;background-position:left -394px}
a.amzn-btn.btn-sec-sml:hover{background-position:left -417px}
a.btn-sec-sml span{padding:0 10px 0 3px;background-position:right -46px}
a.amzn-btn.btn-sec-sml:hover span{background-position:right -69px}
a.btn-prim-med,a.btn-sec-med,a.btn-prim-med-la,a.btn-sec-med-la,a.btn-prim-med-ra,a.btn-sec-med-ra,a.btn-prim-med-drop,a.btn-sec-med-drop{height:26px}
a.btn-prim-med span,a.btn-sec-med span,a.btn-prim-med-la span,a.btn-sec-med-la span,a.btn-prim-med-ra span,a.btn-sec-med-ra span,a.btn-prim-med-drop span,a.btn-sec-med-drop span{font-size:12px!important;line-height:26px!important;height:26px}
a.btn-prim-med{padding:0 0 0 7px;background-position:left -448px}
a.amzn-btn.btn-prim-med:hover{background-position:left -476px}
a.btn-prim-med span{padding:0 11px 0 5px;background-position:right -100px}
a.amzn-btn.btn-prim-med:hover span{background-position:right -128px}
a.btn-sec-med{padding:0 0 0 7px;background-position:left -504px}
a.amzn-btn.btn-sec-med:hover{background-position:left -532px}
a.btn-sec-med span{padding:0 11px 0 5px;background-position:right -156px}
a.amzn-btn.btn-sec-med:hover span{background-position:right -184px}
a.btn-prim-med-la{padding:0 0 0 24px;background-position:left -560px}
a.amzn-btn.btn-prim-med-la:hover{background-position:left -588px}
a.btn-prim-med-la span{padding:0 11px 0 7px;background-position:right -100px}
a.amzn-btn.btn-prim-med-la:hover span{background-position:right -128px}
a.btn-sec-med-la{padding:0 0 0 24px;background-position:left -616px}
a.amzn-btn.btn-sec-med-la:hover{background-position:left -644px}
a.btn-sec-med-la span{padding:0 11px 0 7px;background-position:right -156px}
a.amzn-btn.btn-sec-med-la:hover span{background-position:right -184px}
a.btn-prim-med-ra{padding:0 24px 0 0;background-position:right -784px}
a.amzn-btn.btn-prim-med-ra:hover{background-position:right -812px}
a.btn-prim-med-ra span{padding:0 6px 0 12px;background-position:left -100px}
a.amzn-btn.btn-prim-med-ra:hover span{background-position:left -128px}
a.btn-sec-med-ra{padding:0 24px 0 0;background-position:right -840px}
a.amzn-btn.btn-sec-med-ra:hover{background-position:right -868px}
a.btn-sec-med-ra span{padding:0 6px 0 12px;background-position:left -156px}
a.amzn-btn.btn-sec-med-ra:hover span{background-position:left -184px}
a.btn-prim-med-drop{padding:0 24px 0 0;background-position:right -672px}
a.amzn-btn.btn-prim-med-drop:hover{background-position:right -700px}
a.btn-prim-med-drop span{padding:0 6px 0 12px;background-position:left -100px}
a.amzn-btn.btn-prim-med-drop:hover span{background-position:left -128px}
a.btn-sec-med-drop{padding:0 24px 0 0;background-position:right -728px}
a.amzn-btn.btn-sec-med-drop:hover{background-position:right -756px}
a.btn-sec-med-drop span{padding:0 6px 0 12px;background-position:left -156px}
a.amzn-btn.btn-sec-med-drop:hover span{background-position:left -184px}
a.btn-prim-lrg,a.btn-sec-lrg,a.btn-prim-lrg-la,a.btn-sec-lrg-la,a.btn-prim-lrg-ra,a.btn-sec-lrg-ra{height:28px}
a.btn-prim-lrg span,a.btn-sec-lrg span,a.btn-prim-lrg-la span,a.btn-sec-lrg-la span,a.btn-prim-lrg-ra span,a.btn-sec-lrg-ra span{font-size:12px!important;line-height:28px!important;height:28px}
a.btn-prim-lrg{padding:0 0 0 7px;background-position:left -904px}
a.amzn-btn.btn-prim-lrg:hover{background-position:left -934px}
a.btn-prim-lrg span{padding:0 12px 0 6px;background-position:right -220px}
a.amzn-btn.btn-prim-lrg:hover span{background-position:right -250px}
a.btn-sec-lrg{padding:0 0 0 7px;background-position:left -964px}
a.amzn-btn.btn-sec-lrg:hover{background-position:left -994px}
a.btn-sec-lrg span{padding:0 12px 0 6px;background-position:right -280px}
a.amzn-btn.btn-sec-lrg:hover span{background-position:right -310px}
a.btn-prim-lrg-la{padding:0 0 0 29px;background-position:left -1024px}
a.amzn-btn.btn-prim-lrg-la:hover{background-position:left -1054px}
a.btn-prim-lrg-la span{padding:0 12px 0 3px;background-position:right -220px}
a.amzn-btn.btn-prim-lrg-la:hover span{background-position:right -250px}
a.btn-sec-lrg-la{padding:0 0 0 29px;background-position:left -1084px}
a.amzn-btn.btn-sec-lrg-la:hover{background-position:left -1114px}
a.btn-sec-lrg-la span{padding:0 12px 0 3px;background-position:right -280px}
a.amzn-btn.btn-sec-lrg-la:hover span{background-position:right -310px}
a.btn-prim-lrg-ra{padding:0 29px 0 0;background-position:right -1144px}
a.amzn-btn.btn-prim-lrg-ra:hover{background-position:right -1174px}
a.btn-prim-lrg-ra span{padding:0 2px 0 13px;background-position:left -220px}
a.amzn-btn.btn-prim-lrg-ra:hover span{background-position:left -250px}
a.btn-sec-lrg-ra{padding:0 29px 0 0;background-position:right -1204px}
a.amzn-btn.btn-sec-lrg-ra:hover{background-position:right -1234px}
a.btn-sec-lrg-ra span{padding:0 2px 0 13px;background-position:left -280px}
a.amzn-btn.btn-sec-lrg-ra:hover span{background-position:left -310px}
span.in-amzn-btn,span.in-amzn-btn-disabled,span.in-amzn-btn span,span.in-amzn-btn-disabled span{background:url('https://images-na.ssl-images-amazon.com/images/G/01/authportal/common/images/amznbtn-sprite03._V395592492_.png') no-repeat scroll 0 0;font-family:arial,sans-serif!important;text-decoration:none!important;text-align:center!important;-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-o-user-select:none;user-select:none;margin:0;padding:0;font-weight:normal!important;border:none!important;white-space:nowrap;vertical-align:top}
span.in-amzn-btn,span.in-amzn-btn-disabled{max-width:280px;display:inline-block;*display:inline}
span.in-amzn-btn span,span.in-amzn-btn-disabled span{display:inline-block;zoom:1;vertical-align:top;max-width:280px}
span.in-amzn-btn{color:#006!important}
span.in-amzn-btn-disabled{color:#999!important;opacity:.8;cursor:default}
span.in-amzn-btn input,span.in-amzn-btn-disabled input{border:0;margin:0;padding:0;background:0;font-family:arial,sans-serif;outline-width:0;outline:0}
span.in-amzn-btn input{color:#006!important;cursor:pointer}
span.in-amzn-btn-disabled input{color:#999!important;cursor:default}
span.in-amzn-btn input:focus{text-decoration:underline}
span.in-amzn-btn input::-moz-focus-inner{border:0}
span.btn-prim-sml,span.btn-sec-sml{height:21px}
span.btn-prim-sml span,span.btn-sec-sml span{height:21px}
span.btn-prim-sml input,span.btn-sec-sml input{font-size:11px!important;display:inline-block;height:20px;margin:0 0 1px}
span.btn-prim-sml{padding:0 0 0 7px;background-position:left -348px}
span.in-amzn-btn.btn-prim-sml:hover{background-position:left -371px}
span.btn-prim-sml span{background-position:right -0px}
span.in-amzn-btn.btn-prim-sml:hover span{background-position:right -23px}
span.btn-prim-sml span input{padding:0 8px 0 8px;margin:0 0 0 -7px;position:relative;float:left}
span.btn-sec-sml{padding:0 0 0 7px;background-position:left -394px}
span.in-amzn-btn.btn-sec-sml:hover{background-position:left -417px}
span.btn-sec-sml span{background-position:right -46px}
span.in-amzn-btn.btn-sec-sml:hover span{background-position:right -69px}
span.btn-sec-sml span input{padding:0 8px 0 8px;margin:0 0 0 -7px;position:relative;float:left}
span.btn-prim-med,span.btn-sec-med,span.btn-prim-med-la,span.btn-sec-med-la,span.btn-prim-med-ra,span.btn-sec-med-ra,span.btn-prim-med-drop,span.btn-sec-med-drop{height:26px}
span.btn-prim-med span,span.btn-sec-med span,span.btn-prim-med-la span,span.btn-sec-med-la span,span.btn-prim-med-ra span,span.btn-sec-med-ra span,span.btn-prim-med-drop span,span.btn-sec-med-drop span{height:26px}
span.btn-prim-med input,span.btn-sec-med input,span.btn-prim-med-la input,span.btn-sec-med-la input,span.btn-prim-med-ra input,span.btn-sec-med-ra input,span.btn-prim-med-drop input,span.btn-sec-med-drop input{font-size:12px!important;display:inline-block;height:26px;margin:0}
span.btn-prim-med{padding:0 0 0 7px;background-position:left -448px}
span.in-amzn-btn.btn-prim-med:hover{background-position:left -476px}
span.btn-prim-med span{background-position:right -100px}
span.in-amzn-btn.btn-prim-med:hover span{background-position:right -128px}
span.btn-prim-med span input{padding:0 9px 0 10px;margin:0 0 0 -7px;position:relative;float:left}
span.btn-sec-med{padding:0 0 0 7px;background-position:left -504px}
span.in-amzn-btn.btn-sec-med:hover{background-position:left -532px}
span.btn-sec-med span{background-position:right -156px}
span.in-amzn-btn.btn-sec-med:hover span{background-position:right -184px}
span.btn-sec-med span input{padding:0 9px 0 10px;margin:0 0 0 -7px;position:relative;float:left}
span.btn-prim-med-la{padding:0 0 0 24px;background-position:left -560px}
span.in-amzn-btn.btn-prim-med-la:hover{background-position:left -588px}
span.btn-prim-med-la span{background-position:right -100px}
span.in-amzn-btn.btn-prim-med-la:hover span{background-position:right -128px}
span.btn-prim-med-la span input{padding:0 9px 0 30px;margin:0 0 0 -25px;position:relative;float:left}
span.btn-sec-med-la{padding:0 0 0 24px;background-position:left -616px}
span.in-amzn-btn.btn-sec-med-la:hover{background-position:left -644px}
span.btn-sec-med-la span{background-position:right -156px}
span.in-amzn-btn.btn-sec-med-la:hover span{background-position:right -184px}
span.btn-sec-med-la span input{padding:0 9px 0 30px;margin:0 0 0 -25px;position:relative;float:left}
span.btn-prim-med-ra{padding:0 24px 0 0;background-position:right -784px}
span.in-amzn-btn.btn-prim-med-ra:hover{background-position:right -812px}
span.btn-prim-med-ra span{background-position:left -100px}
span.in-amzn-btn.btn-prim-med-ra:hover span{background-position:left -128px}
span.btn-prim-med-ra span input{padding:0 29px 0 10px;margin:0 -25px 0 0;position:relative;float:left}
span.btn-sec-med-ra{padding:0 24px 0 0;background-position:right -840px}
span.in-amzn-btn.btn-sec-med-ra:hover{background-position:right -868px}
span.btn-sec-med-ra span{background-position:left -156px}
span.in-amzn-btn.btn-sec-med-ra:hover span{background-position:left -184px}
span.btn-sec-med-ra span input{padding:0 29px 0 10px;margin:0 -25px 0 0;position:relative;float:left}
span.btn-prim-med-drop{padding:0 24px 0 0;background-position:right -672px}
span.in-amzn-btn.btn-prim-med-drop:hover{background-position:right -700px}
span.btn-prim-med-drop span{background-position:left -100px}
span.in-amzn-btn.btn-prim-med-drop:hover span{background-position:left -128px}
span.btn-prim-med-drop span input{padding:0 4px 0 10px}
span.btn-sec-med-drop{padding:0 24px 0 0;background-position:right -728px}
span.in-amzn-btn.btn-sec-med-drop:hover{background-position:right -756px}
span.btn-sec-med-drop span{background-position:left -156px}
span.in-amzn-btn.btn-sec-med-drop:hover span{background-position:left -184px}
span.btn-sec-med-drop span input{padding:0 4px 0 10px}
span.btn-prim-lrg,span.btn-sec-lrg,span.btn-prim-lrg-la,span.btn-sec-lrg-la,span.btn-prim-lrg-ra,span.btn-sec-lrg-ra{height:28px}
span.btn-prim-lrg span,span.btn-sec-lrg span,span.btn-prim-lrg-la span,span.btn-sec-lrg-la span,span.btn-prim-lrg-ra span,span.btn-sec-lrg-ra span{height:28px}
span.btn-prim-lrg input,span.btn-sec-lrg input,span.btn-prim-lrg-la input,span.btn-sec-lrg-la input,span.btn-prim-lrg-ra input,span.btn-sec-lrg-ra input{font-size:12px!important;display:inline-block;height:28px;margin:0}
span.btn-prim-lrg{padding:0 0 0 7px;background-position:left -904px}
span.in-amzn-btn.btn-prim-lrg:hover{background-position:left -934px}
span.btn-prim-lrg span{background-position:right -220px}
span.in-amzn-btn.btn-prim-lrg:hover span{background-position:right -250px}
span.btn-prim-lrg span input{padding:0 10px 0 11px;margin:0 0 0 -7px;position:relative;float:left}
span.btn-sec-lrg{padding:0 0 0 7px;background-position:left -964px}
span.in-amzn-btn.btn-sec-lrg:hover{background-position:left -994px}
span.btn-sec-lrg span{background-position:right -280px}
span.in-amzn-btn.btn-sec-lrg:hover span{background-position:right -310px}
span.btn-sec-lrg span input{padding:0 10px 0 11px;margin:0 0 0 -7px;position:relative;float:left}
span.btn-prim-lrg-la{padding:0 0 0 29px;background-position:left -1024px}
span.in-amzn-btn.btn-prim-lrg-la:hover{background-position:left -1054px}
span.btn-prim-lrg-la span{background-position:right -220px}
span.in-amzn-btn.btn-prim-lrg-la:hover span{background-position:right -250px}
span.btn-prim-lrg-la span input{padding:0 10px 0 30px;margin:0 0 0 -29px;position:relative;float:left}
span.btn-sec-lrg-la{padding:0 0 0 29px;background-position:left -1084px}
span.in-amzn-btn.btn-sec-lrg-la:hover{background-position:left -1114px}
span.btn-sec-lrg-la span{background-position:right -280px}
span.in-amzn-btn.btn-sec-lrg-la:hover span{background-position:right -310px}
span.btn-sec-lrg-la span input{padding:0 10px 0 30px;margin:0 0 0 -29px;position:relative;float:left}
span.btn-prim-lrg-ra{padding:0 29px 0 0;background-position:right -1144px}
span.in-amzn-btn.btn-prim-lrg-ra:hover{background-position:right -1174px}
span.btn-prim-lrg-ra span{background-position:left -220px}
span.in-amzn-btn.btn-prim-lrg-ra:hover span{background-position:left -250px}
span.btn-prim-lrg-ra span input{padding:0 29px 0 11px;margin:0 -29px 0 0;position:relative;float:left}
span.btn-sec-lrg-ra{padding:0 29px 0 0;background-position:right -1204px}
span.in-amzn-btn.btn-sec-lrg-ra:hover{background-position:right -1234px}
span.btn-sec-lrg-ra span{background-position:left -280px}
span.in-amzn-btn.btn-sec-lrg-ra:hover span{background-position:left -310px}
span.btn-sec-lrg-ra span input{padding:0 29px 0 11px;margin:0 -29px 0 0;position:relative;float:left}
.amzn-btn.w80 span,.in-amzn-btn.w80 span input,.amzn-btn-disabled.w80 span,.in-amzn-btn-disabled.w80 span input{min-width:80px;*width:80px}
.amzn-btn.w90 span,.in-amzn-btn.w90 span input,.amzn-btn-disabled.w90 span,.in-amzn-btn-disabled.w90 span input{min-width:90px;*width:90px}
.amzn-btn.w100 span,.in-amzn-btn.w100 span input,.amzn-btn-disabled.w100 span,.in-amzn-btn-disabled.w100 span input{min-width:100px;*width:100px}
.amzn-btn.w110 span,.in-amzn-btn.w110 span input,.amzn-btn-disabled.w110 span,.in-amzn-btn-disabled.w110 span input{min-width:110px;*width:110px}
.amzn-btn.w120 span,.in-amzn-btn.w120 span input,.amzn-btn-disabled.w120 span,.in-amzn-btn-disabled.w120 span input{min-width:120px;*width:120px}
.amzn-btn.w130 span,.in-amzn-btn.w130 span input,.amzn-btn-disabled.w130 span,.in-amzn-btn-disabled.w130 span input{min-width:130px;*width:130px}
.amzn-btn.w140 span,.in-amzn-btn.w140 span input,.amzn-btn-disabled.w140 span,.in-amzn-btn-disabled.w140 span input{min-width:140px;*width:140px}
.amzn-btn.w150 span,.in-amzn-btn.w150 span input,.amzn-btn-disabled.w150 span,.in-amzn-btn-disabled.w150 span input{min-width:150px;*width:150px}
.amzn-btn.w160 span,.in-amzn-btn.w160 span input,.amzn-btn-disabled.w160 span,.in-amzn-btn-disabled.w160 span input{min-width:160px;*width:160px}
.amzn-btn.w170 span,.in-amzn-btn.w170 span input,.amzn-btn-disabled.w170 span,.in-amzn-btn-disabled.w160 span input{min-width:170px;*width:170px}
.amzn-btn.w180 span,.in-amzn-btn.w180 span input,.amzn-btn-disabled.w180 span,.in-amzn-btn-disabled.w170 span input{min-width:180px;*width:180px}
.amzn-btn.w190 span,.in-amzn-btn.w190 span input,.amzn-btn-disabled.w190 span,.in-amzn-btn-disabled.w180 span input{min-width:190px;*width:190px}
.amzn-btn.w200 span,.in-amzn-btn.w200 span input,.amzn-btn-disabled.w200 span,.in-amzn-btn-disabled.w200 span input{min-width:200px;*width:200px}
.amzn-btn.w210 span,.in-amzn-btn.w210 span input,.amzn-btn-disabled.w210 span,.in-amzn-btn-disabled.w210 span input{min-width:210px;*width:210px}
.amzn-btn.w220 span,.in-amzn-btn.w220 span input,.amzn-btn-disabled.w220 span,.in-amzn-btn-disabled.w220 span input{min-width:220px;*width:220px}
.amzn-btn.w230 span,.in-amzn-btn.w230 span input,.amzn-btn-disabled.w230 span,.in-amzn-btn-disabled.w230 span input{min-width:230px;*width:230px}
.amzn-btn.w240 span,.in-amzn-btn.w240 span input,.amzn-btn-disabled.w240 span,.in-amzn-btn-disabled.w240 span input{min-width:240px;*width:240px}
.amzn-btn.w250 span,.in-amzn-btn.w250 span input,.amzn-btn-disabled.w250 span,.in-amzn-btn-disabled.w250 span input{min-width:250px;*width:250px}
.amzn-btn.w260 span,.in-amzn-btn.w260 span input,.amzn-btn-disabled.w260 span,.in-amzn-btn-disabled.w260 span input{min-width:260px;*width:260px}
.amzn-btn.w270 span,.in-amzn-btn.w270 span input,.amzn-btn-disabled.w270 span,.in-amzn-btn-disabled.w270 span input{min-width:270px;*width:270px}
.amzn-btn.w280 span,.in-amzn-btn.w280 span input,.amzn-btn-disabled.w280 span,.in-amzn-btn-disabled.w280 span input{min-width:280px;*width:280px}
.in-amzn-btn span input,.in-amzn-btn-disabled span input{*overflow:visible}

/*CSS for Radio button deprecation test*/
.raptor .ap_col1 {
    margin: 0;
}
.raptor #ap_signin1a_email_section_title {
    display: none;
}

.raptor .ap_table > .ap_row > span {
    float: left;
    vertical-align: middle;
}

.raptor #ap_small_forgot_password_link_ie_new,
.raptor #ap_small_forgot_password_link {
   margin: 25px 0 0 152px;
}

.raptor #ap_signin1a_password_row .ap_col1,
.raptor #ap_signin1a_email_row .ap_col1 {
    width: 142px;
    padding-right: 10px;
    margin:0;
}

.raptor #ap_signin1a_password_row span {
    padding: 0;
}

.raptor #ap_signin1a_create_account_section_title .ap_col2 {
    margin-top: 15px;
}

.raptor #ap_signin1a_pagelet #signInSubmit {
    margin: 7px 0 0 20px;
}

.raptor #ap_signin1a_create_account_button {
    margin: 5px 0 0 20px;
}

.raptor #ap_remember_me_checkbox_row { 
    margin: 5px 0 0 148px;
    padding: 0;
}

.raptor #ap_captcha_table {
    margin: 15px 0 10px 0px;
} 

.raptor #ap_password {
    width: 229px;
}

/*IE specific CSS for Radio button deprecation test*/

.ie .raptor #ap_remember_me_checkbox {
    margin-left: -3px;
}

.raptor #ap_password {
    width: 222px;
}

.ie6 .raptor #ap_signin1a_signin_button_row .ap_col2 {
    margin-left: -30px;
}

.ie6 .raptor #ap_signin1a_create_account_section_title h2{
    margin: 15px 0 0 165px;
}
.ie6 .raptor #ap_signin1a_create_account_button {
    margin-left: -10px;
}

.ie6 .raptor #ap_signin1a_password_row .ap_col1 {
    display: inline-block;
    padding-left: 0;
    margin-right: -5px;
    width: 110px;
}

.ie6 .raptor #ap_remember_me_checkbox {
    padding-left: 95px;
}

.ie6 .raptor #ap_remember_me_checkbox_row,
.ie6 .raptor #ap_signin1a_password_row .ap_col2 {
    margin: 0;
    padding: 0;
}

.ie6 .raptor #ap_captcha_table {
    margin-left: 50px;
}

.ie6 .raptor #ap_captcha_title {  
    margin-left: 0;
}

.raptor #ap_small_forgot_password_link_ie_old {
    margin-left: 162px;
}

/* Region specific styling to fix language-specific size issues */
.ap-locale-de_DE #centerSlots,
.ap-locale-de_DE #flex_subslot_frame {
    width: 526px;
}

.ap-locale-de_DE #wrapper {
    width: 560px;
}

.ap-locale-fr_CA #centerSlots,
.ap-locale-fr_CA #flex_subslot_frame {
    width: 550px;
}

.ap-locale-fr_CA #wrapper {
    width: 582px;
}

.ap-locale-fr_CA .raptor #ap_signin1a_email_row .ap_col1,
.ap-locale-fr_CA .raptor #ap_signin1a_password_row .ap_col1 {
    width: 164px;
}

.ap-locale-fr_FR .raptor #ap_signin1a_email_row .ap_col1,
.ap-locale-fr_FR .raptor #ap_signin1a_password_row .ap_col1 {
    width: 164px;
}

.ap-locale-es_ES .raptor #ap_signin1a_email_row .ap_col1,
.ap-locale-es_ES .raptor #ap_signin1a_password_row .ap_col1 {
    width: 145px;
}

/* legal agreement action on registration page */
#ap_register_legal_agreement_row {
  font-size: 12px;
  padding: 10px 0px 10px 0px;
}

#ap_register1a_pagelet #ap_register_legal_agreement_row {
  width: 300px;
}

.ie6 #ap_register1a_pagelet #ap_register_legal_agreement_row {
  margin-left: -6px;
}

.ie7 #ap_register1a_pagelet #ap_register_legal_agreement_row {
  margin-left: -3px;
}

#ap_legal_agreement_check_box {
  float: left;
  margin: 2px;
}

.ie #ap_legal_agreement_check_box {
  margin: 1px;  
}

#ap_register1a_pagelet #ap_legal_agreement_check_box_label {
  display: block;
  padding-left: 20px;
}

.ie6 #ap_register1a_pagelet #ap_legal_agreement_check_box_label {
  padding-left: 27px;
}
